body {
    background-color: #f2f2f2;
    margin: 0;
    font-family: sans-serif;
    
}

*{
    outline: 1px solid yellow;
    
}

.header {
    background-color: #2d303a;
    height: 90px;
    
}

.nav {
    max-width: 950px; 
    margin-left: auto;
    margin-right: auto;
    color: white;
    
}

.links {
    float: right;
    color: #44495b;
    padding-top:35px;
}

.links a{
    color: white;
    text-decoration: none;
    font-size:0.75em;
    padding-left:10px;
    padding-right: 10px;
}

.salmon {
    color: #f06c64;

}

.logo {
    float: left;
    margin-top: 28px;
    font-size: 1.35em;
    
}


.banner {
    padding: 20px 0;
    background-color: #f06c64;
    text-align: center;
  
}

.banner img{
    width:80%;
    max-width: 950px;
}

.services{
      background-color: #f2f2f2;
     color: #666d89;
}

.title {
    text-align: left;
    font-size: 1.2em;
    padding: 30px 0 20px 70px;
    font-weight: bold;
  
    

 
}

p.services{
    text-align: left;
    padding: 0px 70px 30px 70px;
    font-family: sans-serif;
    line-height: 2.0;
  
}

.list{
    padding: 10px 70px 30px 70px;
    text-align: left;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

}

.list p{
    float:left;
}

.list img{
    width: 20%;
    float: left;
}

/*media query always bottom of css*/
 
@media screen and (max-width: 550px) {
   
    .links {
        padding-top: 8px;
    }
    
 
       
     
        
    }
    